form {
  padding: 10px 20px;
  margin-bottom: 20px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #ffffff;
}

button {
  width: 200px;
  color: #ffffff;
}
