h1 {
  margin-bottom: 32px;
}
.sort {
  width: 200px;
  h2 {
    font-size: 20px;
    margin-bottom: 12px;
  }
  select {
    margin-top: 20px;
  }
}
.filter {
  width: 200px;
  margin-top: 48px;

  h2 {
    margin-bottom: 12px;
    font-size: 20px;
  }

  .filter-item {
    padding: 20px 0;
    border-bottom: 1px solid #DFDFDF;
    font-size: 16px;

    span {
      float: right;
    }
    ul {
      margin-top: 16px;
      // margin-bottom: 8px;
    }

    .filter-subitem {
      font-size: 14px;
      margin-bottom: 8px;
    }
  }
}

.product {
  // width: 33%;
  outline: 1px solid red;
}
