<h1 class="font-medium ui-title">Productos</h1>
<div class="grid grid-cols-4">
  <div class="options">
    <div class="sort font-regular">
      <h2 class="font-regular">Ordenar</h2>
      <hr>
      <select name="" id="">
        <option value="none">Seleccione</option>
        <option value="asc">Menor precio primero</option>
        <option value="asc">Mayor precio primero</option>
      </select>
    </div>
    <div class="filter font-regular">
      <h2 class="">Filtrar</h2>
      <hr>
      <ul>
        <li class="filter-item">
          Categoría <span (click)="showCategory = !showCategory">+</span>
          <ul *ngIf="showCategory">
            <ng-container *ngFor="let item of presenter.categories">
              <li class="filter-subitem" (click)="presenter.setCategoryFilter(item.id)">{{ item.title }}</li>
            </ng-container>
          </ul>
        </li>
        <li class="filter-item">
          Precio <span (click)="showPrice = !showPrice">+</span>
          <ul *ngIf="showPrice">
            <li class="filter-subitem" (click)="presenter.setPriceFilter(0)">Hasta S/ 50.00</li>
            <li class="filter-subitem" (click)="presenter.setPriceFilter(1)">S/ 50.00 - S/ 200.00</li>
            <li class="filter-subitem" (click)="presenter.setPriceFilter(2)">S/ 200.00 - S/ 500.00</li>
            <li class="filter-subitem" (click)="presenter.setPriceFilter(3)">Más de S/ 500.00</li>
          </ul>
        </li>
        <li class="filter-item">
          Fabricante <span (click)="showMaker = !showMaker">+</span>
          <ul *ngIf="showMaker">
            <ng-container *ngFor="let item of presenter.makers">
              <li class="filter-subitem" (click)="presenter.setMakerFilter(item.id)">{{ item.name }}</li>
            </ng-container>
          </ul>
        </li>
        <li class="filter-item clear" (click)="clear()">
          Limpiar Filtros
        </li>
      </ul>
    </div>
  </div>

  <div class="col-span-3 grid grid-cols-3 gap-x-24 gap-y-20">
    <ng-container *ngFor="let item of presenter.products">
      <div class="product mat-elevation-z8">
        <app-product [product]="item"></app-product>
      </div>
    </ng-container>
  </div>
  <!-- <mat-paginator
    [length]="presenter.length"
    [pageSize]="presenter.pageSize"
    [pageSizeOptions]="[5, 10, 25, 100]"
    (page)="changePage($event)"
  >
  </mat-paginator> -->
  <div class="col-span-2 col-start-3 paginator">
    <mat-paginator
      [length]="100"
      [pageSize]="10"
      [pageSizeOptions]="[5, 10, 25, 100]"
    >
  </mat-paginator>
  </div>
</div>
