<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en" >
	<head>
		<meta http-equiv="content-type" content="text/html" charset="utf-8" />
		<title>About</title>
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<link rel="StyleSheet" href="about.component.scss" />
		<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Montserrat:400,700,800">
	 
 
	</head>
	<body>
		<div id="content-container">
			<div id="page___nosotros_desktop_ek1"  >
				<div id="_bg____nosotros_desktop_ek2"  ></div>
 
				<div id="frame_1"  >

					<div id="mision"  >
						<div id="lorem1" >
							Lorem ipsum dolor sit amet, consectetur adipiscing elit. Diam urna leo congue lectus accumsan a, neque. 
							Sed nunc amet sed velit et id sit. Etiam a eget ultricies non diam dui purus.
						</div>
						<div id="misi_n" >
							Misión
						</div>

					</div>

					<div id="vision"  >
						<div id="lorem2" >
							Lorem ipsum dolor sit amet, consectetur adipiscing elit. Diam urna leo congue lectus accumsan a, neque. 
							Sed nunc amet sed velit et id sit. Etiam a eget ultricies non diam dui purus.
						</div>
						<div id="visi_n" >
							Visión
						</div>

					</div>

					<div id="valor_3"  >
						<div id="lorem3" >
							Lorem ipsum dolor sit amet, consectetur adipiscing elit. Diam urna leo congue lectus accumsan a, neque. 
							Sed nunc amet sed velit et 
						</div>
						<div id="line_4"  ></div>
						<div id="valor_3_ek1" >
							Valor 3
						</div>

					</div>

					<div id="valor_4"  >
						<div id="lorem4" >
							Lorem ipsum dolor sit amet, consectetur adipiscing elit. Diam urna leo congue lectus accumsan a, neque. 
							Sed nunc amet sed velit et 
						</div>
						<div id="line_4_ek1"  ></div>
						<div id="valor_4_ek1" >
							Valor 4
						</div>

					</div>

					<div id="valor_2"  >
						<div id="lorem5" >
							Lorem ipsum dolor sit amet, consectetur adipiscing elit. Diam urna leo congue lectus accumsan a, neque. 
							Sed nunc amet sed velit et 
						</div>
						<div id="line_3"  ></div>
						<div id="valor_2_ek1" >
							Valor 2
						</div>

					</div>

					<div id="valor_1"  >
						<div id="lorem6" >
							Lorem ipsum dolor sit amet, consectetur adipiscing elit. Diam urna leo congue lectus accumsan a, neque. 
							Sed nunc amet sed velit et 
						</div>
						<div id="line_2"  ></div>
						<div id="valor_1_ek1" >
							Valor 1
						</div>

					</div>

					<div id="nosotros_ek1"  >
						<div id="rectangle_31">
						</div>
						
						<div id="lorem7" >
							Lorem ipsum dolor sit amet, consectetur adipiscing elit. Diam urna leo congue lectus accumsan a, neque. 
							Sed nunc amet sed velit et id sit. Etiam a eget ultricies non diam dui purus.<br/><br/>Lorem ipsum dolor sit amet, consectetur adipiscing elit. 
							Diam urna leo congue lectus accumsan a, neque. Sed nunc amet sed velit et id sit. Etiam a eget ultricies non diam dui purus.
						</div>
						<div id="nosotros_ek2" >
							Nosotros
						</div>
						<img src="assets\img\rectangle_30.png" id="rectangle_30" />
					</div>

				</div>

			</div>
		</div>
	</body>
</html>
