@font-face {
  font-family: "Montserrat-Bold";
  src: url(assets/fonts/Montserrat-Bold.ttf) format("truetype");
  font-display: swap;
}

@font-face {
  font-family: "Montserrat-Medium";
  src: url(assets/fonts/Montserrat-Medium.ttf) format("truetype");
  font-display: swap;
}

@font-face {
  font-family: "Montserrat-Regular";
  src: url(assets/fonts/Montserrat-Regular.ttf) format("truetype");
  font-display: swap;
}

$fonts-family: (
  primary-bold: "Montserrat-Bold",
  primary-medium: "Montserrat-Medium",
  primary-regular: "Montserrat-Regular"
);

.ui-h1 {
  font-family: map-get($fonts-family, 'primary-bold');
  font-size: 52px;
  line-height: 56px;
  font-weight: 500;
}

.ui-title {
  font-family: map-get($fonts-family, 'primary-medium');
  font-size: 28px;
}

