:host {
  display: flex;
  flex-direction: column;
  padding: 40px 20px;
  border: solid .5px #615F5F;
  border-radius: 8px;
  box-shadow: 4px 4px #615F5F;

  h1 {
    font-size: 2rem;
    font-weight: 600;
  }
  .data {
    strong {
      font-size: 1.6rem;
      // margin-right: 80px;
    }

    span {
      font-size: 1.85rem;
      color: #354A6A;
    }
  }
}
